.flip-down-enter-active, .flip-down-leave-active{
  transition: transform 1.0s ease-in-out;
  backface-visibility: hidden;
  perspective-origin: center;
  transform-origin: center;
  transform-style: preserve-3d;
  @include ie {
    transition: transform 1.0s ease-in-out, opacity 1.0s ease-in-out;
  }
}
.flip-down-enter{
  transform: perspective(800px) rotateX(180deg);
  @include ie {
    opacity: 0;
  }
}
.flip-down-enter-to{
  transform: perspective(800px) rotateX(0);
  @include ie {
    opacity: 1;
  }
}
.flip-down-leave{
  transform: perspective(800px) rotateX(0deg);
  @include ie {
    opacity: 1;
  }
}
.flip-down-leave-to{
  transform: perspective(800px) rotateX(-179.9deg);
  @include ie {
    opacity: 1;
  }
}
